export ETCDCTL_ENDPOINTS={%- for host in groups['etcd-node'] -%}
https://{{hostvars[host].ansible_facts.default_ipv4.address}}:2379
{%- if not loop.last %},{% endif -%}
{%- endfor -%}
export ETCDCTL_CA_FILE=/etc/kubernetes/ssl/ca.pem
export ETCDCTL_CERT_FILE=/etc/kubernetes/ssl/kubernetes.pem
export ETCDCTL_KEY_FILE=/etc/kubernetes/ssl/kubernetes-key.pem

etcdctl mkdir /kube-centos/network
etcdctl set /kube-centos/network/config '{"Network":"172.30.0.0/16","SubnetLen":24,"Backend":{"Type":"vxlan"}}'
etcdctl rm $(etcdctl ls /kube-centos/network/subnets)

